<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bangkok Post | My Profile</title>
</head>

<body>
	<h1>Bangkok Post | My Profile</h1>
	
	<h3>My Information</h3>
	
	<form action="/users/profile?_method=PATCH" method="POST">
	  <p>Username</p>
	  <input type="text" name="username" value="<%= user.username %>">
	  <p>Firstname</p>
	  <input type="text" name="firstName" value="<%= user.firstName %>">
	  <p>Lastname</p>
	  <input type="text" name="lastName" value="<%= user.lastName %>">
	  <p>Email</p>
	  <input type="text" name="email" value="<%= user.email %>">
	  <button type="submit">Update Profile</button>
	</form>
	
	<hr>
	
	<h3>My posts</h3>
	
	<h4>Published Posts</h4>
	<% if (publishedPosts.length === 0) { %>
	   <p>You haven't published any posts yet</p>
	<% } else { %>
	  <form action="/posts/managePosts" method="POST">
	    <% publishedPosts.forEach((p) => { %>
		  <input type="checkbox" id ="postId" name="posts" value="<%= p.id %>">
		  <label for="postId"><a href="/posts/<%= p.id %>"><%= p.title %></a></label>
		  <br>
	    <% }) %>
		<button type="submit" name="action" value="unpublish">unpublish Selected</button>
		<button type="submit" name="action" value="delete">Delete Selected</button>
	  </form>
    <% } %>
	
	<hr>
	
	<h4>Draft</h4>
	<% if (draftPosts.length === 0) { %>
	   <p>You don't have any draft yet...</p>
	<% } else { %>
	  <form action="/posts/managePosts" method="POST">
	    <% draftPosts.forEach((p) => { %>
		  <input type="checkbox" id ="postId" name="posts" value="<%= p.id %>">
		  <label for="postId"><a href="/posts/<%= p.id %>"><%= p.title %></a></label>
		  <br>
	    <% }) %>
		<button type="submit" name="action" value="publish">Publish Selected</button>
		<button type="submit" name="action" value="delete">Delete Selected</button>
	  </form>
    <% } %>
	
	<h4>Deleted Posts</h4>
	<% if (deletedPosts.length === 0) { %>
	   <p>You don't have any deleted posts...</p>
	<% } else { %>
	  <form action="/posts/managePosts" method="POST">
	    <% deletedPosts.forEach((p) => { %>
		  <input type="checkbox" id ="postId" name="posts" value="<%= p.id %>">
		  <label for="postId"><a href="/posts/<%= p.id %>"><%= p.title %></a></label>
		  <br>
	    <% }) %>
		<button type="submit" name="action" value="restore">Restore Selected</button>
		<button type="submit" name="action" value="destroy">Destroy Selected</button>
	  </form>
    <% } %>
	
	<hr>
	
	<h3>My comments</h3>
	<form action="/comments/manageComments" method="POST">
	<table>
		<tr><th></th><th>Post</th><th>Comment</th></tr>	
		<% userComments.forEach((c) => { %>
		  <tr><td><input type="checkbox" id ="<%= c.id %>"name="comments" value="<%= c.id %>"></td>
		  <td><%= c.postId.title %></td>
		  <td><%= c.text %></td>
		</tr>			
		<% }) %>
	</table>
		<button type="submit" name="action" value="destroy">Destroy Selected</button>
  </form>
	<%- include('../partials/footer.ejs') %>