<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bangkok post</title>
</head>

<body>
	<h1>Bangkok Post</h1>
	
	<h3><%= post.title%></h3>
	 
	<% if(post.isDeleted === true) { %>
	<form action="/posts/managePosts" method="POST">
	  <p>This post has been deleted!</p>
	  <input type="hidden" name="posts" value="<%= post.id%>">
	  <input type="hidden" name="destination" value="/posts/<%= post.id %>">
	  <button type="submit" name="action" value="restore">Restore</button>
	</form>
	<% } %>
	
	<img src="/avatars/<%= post.author.profilePic %>" width="80">
	<% if(post.isPublished === false) { %>
	<form action="/posts/managePosts" method="POST">
	  <p>This post has been unpublished!</p>
	  <input type="hidden" name="posts" value="<%= post.id%>">
	  <input type="hidden" name="destination" value="/posts/<%= post.id %>">
	  <button type="submit" name="action" value="publish">Publish</button>
	</form>
	<% } %>
	
	<p>Author: <%= post.author.firstName + " " + post.author.lastName %></p>
	<p><%= post.text%></p>
	
	<% if (user && post.author.id === user.id && post.isDeleted === false) { %>
		<a href="/posts/<%= post.id%>/edit">Edit</a>

		<form action="/posts/managePosts" method="POST">
			<input type="hidden" name="posts" value="<%= post.id%>">
			<input type="hidden" name="destination" value="/posts/<%= post.id%>">
			<button type="submit" name="action" value="delete">Delete</button>
		</form>
	<%  } %>
	<p>Likes : <%=post.numLikes %></p>
	<% if (post.isPublished === true && (post.isDeleted === false)) { %>
	<form action="/posts/<%= post.id %>/likes?_method=PATCH" method="POST">
		<button type="submit">I Like this</button>
	</form>
	<%  } %>
	
	<h3>Comments (<%= comments.length %>)</h3>
	
	<% if (comments.length === 0) { %>
		<p>No comments yets</p>
	<% } else { %>
		 <% comments.forEach((c) => { %>
			<p><%= c.text %> - <%= c.author.firstName + " " + c.author.lastName %></p>
				<% if (user && c.author.id === user.id) { %>
				<form action="/comments/<%= c.id %>?_method=DELETE" method="POST">
					<button type="submit">Delete</button>
				</form>
				<% } %>
			<hr>
		<% }) %>
	<% } %>
	
	<% if (post.isPublished === true && (post.isDeleted === false)) { %>
		<% if (user) { %>
			<form action="/posts/<%= post.id %>/comments" method="POST">
				<textarea name="text" placeholder="Comment text..."></textarea><br>
				<button type="submit">Submit</button>
				<button type="reset">Reset</button>
			</form>
		<% } else { %>
			<p><a href="/auth/google">Sign in</a> to comment</p>
		<% } %>
   <% } %>
	
	<%- include('../partials/footer.ejs') %>